body {
    margin: 0;
    background-color: #050505;
    color: #00ff41; /* اللون الأخضر البرمجي */
    font-family: monospace;
    overflow: hidden;
    height: 100vh;
}

#terminal {
    position: relative;
    z-index: 10;
    padding: 20px;
}

.input-line { display: flex; align-items: center; }
.prompt { color: #ff2d55; margin-right: 10px; }

input {
    background: transparent;
    border: none;
    color: #00ff41;
    outline: none;
    font-size: 18px;
    width: 70%;
}

canvas {
    display: none; /* مخفي في البداية */
    position: absolute;
    top: 0; left: 0;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #333;
}
